APP_NAME=Cached Data API
APP_VERSION=1.0.0
DEBUG=false

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/financial_db
DATABASE_URL_SYNC=postgresql://postgres:postgres@localhost:5432/financial_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

CACHE_KEY_PREFIX=cached_data_api
